<!DOCTYPE html>
<html lang="en">
<center><body>
    <h1 style="font-family: Verdana">Welcome to Poold!</h1>
    <img src = "http://www.sumopaint.com/images/temp/xzsqdbhhidofdmok.png">
    <h2>Where are you headed? We can help. </h2>
    <form action="/findrides" method="POST">
    {{ form.hidden_tag() }}
        
          {% if form.orig.errors %}
          {% for error in form.orig.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {% endif %}<br>
        {{ form.orig(placeholder="Origin (2 letter state)") }}
        <br>
          {% if form.dest.errors %}
          {% for error in form.dest.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
          {% endif %}<br>
        {{ form.dest(placeholder="Destination (2 letter state)")}} <br> <br>
        <input type="submit" name="my_form_post" value="Get Poold">
    </form>
    {% if words %}
    <p> Here are all the people heading towards {{ words }} </p>
    {% else %}
    <p> </p>
    {% endif %}
</body></center>
</html>


