<!DOCTYPE HTML>

<html lang="en">
<center><body>
    <h1>Thanks for using Poold!</h1>
    <img src = "http://www.sumopaint.com/images/temp/xzsqdbhhidofdmok.png">

    <h2> Are you looking to provide a ride, or do you need a ride? </h2>

    
    <form action="/giveride", method="GET">
        <input type="submit", name="giveride", value="I am here to give a ride"></form>
    <br>
    <form action="/findrides", method="GET">
        <input type="submit", name="findrides", value="I am looking for a ride"/>
    </form>
    


    <p> Had enough of Poold? Click below to Log Out </p>
    <form action="/giveorfind", method="POST">
        <input type="submit", name="logout", value="Log Out"/>
    </form>



  

</body>
</center>

</html>