<!DOCTYPE HTML>

<HTML>
  <center><h1>Welcome to Poold!</h1>
  <img src = "http://www.sumopaint.com/images/temp/xzsqdbhhidofdmok.png">
  
  <form action="", method="POST", name = "signup"}>
    {{ form.hidden_tag() }}

    <p> Please enter your information, all fields are required </p>

    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}<br>
    {{ form.email(placeholder = "Email") }}<br><br>
    
    {{ form.password(placeholder = "Password") }} <br><br>
    {{ form.conPass(placeholder = "Confirm Password")}} <br><br>
    {{ form.fullname(placeholder = "Full name") }} <br><br>
    {{ form.age(placeholder = "Age") }}      <br><br>
    <p> Select type of car  {{ form.carType }} </p>



    <p><input type="submit", value = "Sign Up"></p>

    </form>
</center>
</HTML>