<!DOCTYPE HTML>


<HTML>
  <center><h1 style="font-family: Verdana">Welcome to Poold!</h1>
  <img src = "http://www.sumopaint.com/images/temp/xzsqdbhhidofdmok.png">
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Have an account? Log in below<br>
          {{ form.email(placeholder="Email",size=35) }}<br>
          {{ form.password(placeholder="Password",size=35)}}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Log In"></p>
</form>
      <p> Don't have an account yet?</p>
      <form action="{{ url_for('signup')}}", method="get" name="sign up">
      <p><input type="submit" value="Sign up"></p>
  </form></center>
</HTML>